---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import BDV from "../images/BDV-logo.png";
import LogIn from "@components/LogIn";
import Banner from "@components/Banner.astro";
---

<Layout
  title="BDVenlínea Crédito"
  description="Página principal de créditos del Banco de Venezuela"
>
  <main class="m-4 md:m-0 relative z-0">
    <h1
      class="z-20 relative pt-8 text-center text-4xl font-bold text-[#0067b1]"
    >
      Crédito Banco de Venezuela
    </h1>

    <!-- Contenido principal -->
    <div
      class="grid grid-cols-1 items-center p-8 m-4 bg-white max-w-[398px] mx-auto shadow-black/10 shadow-lg rounded-md relative z-10 md:ml-0 md:left-32 md:top-20"
    >
      <Image
        class="max-w-44 mx-auto"
        src={BDV}
        alt="Logo del Banco de Venezuela"
      />
      <LogIn client:load />

      <div class="grid grid-cols-1 items-center gap-y-1">
        <a
          class="font-bold text-center text-sm text-pretty"
          href="https://bdvenlinea.banvenez.com/gestion-usuario"
        >
          ¿Olvidaste tu usuario o clave?
        </a>
        <a
          class="font-bold text-center text-sm text-pretty"
          href="https://bdvenlinea.banvenez.com/gestion-usuario"
        >
          ¿Eres nuevo cliente BDV? Regístrate aquí
        </a>
      </div>
    </div>

    <!-- Fondo de pantalla -->
    <div
      class="bg-cover bg-center fixed inset-0 w-full h-full z-0 invisible md:visible"
      style="background-image: url(./images/yulimarRojas.png);"
    >
    </div>
    <Banner />
  </main>
</Layout>
