<div class="fixed bottom-4 left-12 z-50">
  <span
    class="relative p-2 bg-slate-300 shadow-lg text-black font-bold rounded-full"
  >
    Esto fue realizado con fines educativos!
    <span class="sr-only">Notificaciones</span>
  </span>
</div>
